.top-asset-slideshow-cont .asset{
    width:204px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;

}

.top-asset-slideshow-cont .asset img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px,rgba(0,0,0,0.3) 0 2px 5px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px,rgba(0,0,0,0.3) 0 2px 5px;
    box-shadow: rgba(0,0,0,0.2) 0 0 0 1px,rgba(0,0,0,0.3) 0 2px 5px;
    margin: 0 0 10px;
}

.top-asset-slideshow-cont .asset:first-child{
    /* margin-left:5px;  */
}

.top-asset-slideshow-cont {
    margin-top:20px;
}

.top-asset-slideshow-pag {
    height: 39px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
}
.top-asset-slideshow-pag a{
    width:8px;
    height:39px;
    font-size:0;
    background:url(../img/asset-slideshow-pag.png) no-repeat center right;
    margin-left:8px;
    display:inline-block;
    float:left;
}
.top-asset-slideshow-pag a.selected{
    background-position:center left;
}
.store-bookmark-icon{
    color: #FFED00;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: -4px;
    z-index: 1;
    text-shadow:1px 1px #848484;
}

.top-assets-empty-assert {
    margin-left: 12%;
}

/* assets new styling */
.ctrl-thumb-asset {
    height:260px;
    width:200px;
    float:left;
    margin-right:16px
}

.ctrl-thumb-asset a:hover {
    color:#5fb548;
}

.lbl-thumb-asset-img img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px,rgba(0,0,0,0.3) 0 2px 5px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 0 0 1px,rgba(0,0,0,0.3) 0 2px 5px;
    box-shadow: rgba(0,0,0,0.2) 0 0 0 1px,rgba(0,0,0,0.3) 0 2px 5px;
}

.lbl-thumb-asset-title {
    margin-top:10px;
}

.lbl-thumb-asset-title span {
    font-weight:300;
    font-size:18px;
    color:#333
}

.lbl-thumb-asset-author {
    font-size:12px;
    color:#cecece;
    margin-top:3px;
}
.lbl-thumb-asset-author a {
    color:#aaa;
}

